/* M A I N   P A G E   S T Y L I N G */

* {
  box-sizing: border-box;
  margin: auto;
  z-index: 0;
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

h2 {
  margin-top: 50px;
  font-size: 40px;
  font-weight: 100;
  text-align: center;
}


/* H E A D E R   S T Y L I N G */

header {
  background-color: rgb(254, 233, 114);
  height: 100vh;
  top: 0;
  z-index: -1;
  text-align: center;
} 

/* Navbar styling */
nav ul {
  position: fixed;
  z-index: 2;
  width: 100%;
  display: flex;
  background-color: rgb(254, 233, 114);
}
nav li {
    margin: 10px 30px 10px 10px;
    font-size: 20px;
    font-weight: 100;
}

nav li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.push-left {
  margin-right: auto;
}
    

.links {
  margin-left: 50px;
  margin-top: 50px;
}

/* title styling */

.title-container{
  position: relative;
  top: 30vh;
}

h1 {
  font-size: 150px;
  font-weight: 100;
  letter-spacing: 10px;
}
h4 {
  font-size: 40px;
  font-weight: 100;
  letter-spacing: 5px;
}


.arrow-down {
  margin-top: 80px;

}
/* A B O U T   M E  S T Y L I N G */
.about {
  height: 100vh;
}
.about-me-container {
  display: flex;
  width: 70%;
  margin-left: 15%;
  margin-top: 100px;

}

.blurb {
  flex: 1;
} 

h3 {
  font-size: 50px;
  font-weight: 300;
  margin: 10px;
}
.bio {
  font-weight: 100;
  color: rgb(85, 85, 85);
  font-size: 25px;
  line-height: 1.2;
  letter-spacing: 1px;
}
.image{
  flex: 1;
  margin-left: 5%;
  display: flex;
}



.luke-photo {
  max-height: 70vh; 
}



/* button:hover {
  background-color:rgb(224, 204, 89);
  color: rgb(254, 233, 114);

} */

/* s k i l l s   S T Y L I N G */

.skills {
  height: 50vh;
}

/* P O R T F O L I O   S T Y L I N G */
.portfolio {

}
/* flex layout */

h5 {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  font-size: 30px;
  padding: 20px;
}
.project-preview-img{
  height: 300px;
}

.portfolio-container {
  margin-top: 100px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project-container {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  width: 45%;
  margin-bottom: 2%; /* (100-32*3)/2 */
  position: relative;
  border-top: rgb(254, 233, 114) solid;
  border-width: 5px;
  

}

.project-container:hover {
  border-top: rgb(254, 233, 114) solid;
  border-width: 10px;
}
.portfolio-link {
  background-color: rgb(254, 233, 114);
  border: none;
  font-size: 30px;
  font-weight: 100;
  margin: 35px;
  border-radius: 15px;
  padding: 10px;
  cursor: pointer;
}

footer {
  background-color: black;
  height: 100vh;
}
@media only screen and (max-width: 500px) {

  nav li { 
    margin: 10px 10px 10px 10px;
    font-size: 15px;
    font-weight: 100;
  }

  .title-container{
    margin-left: 5vw;
    position: relative;
    top: 15vh;
  }

  h1 {
    font-size: 90px;
    font-weight: 100;
    letter-spacing: 0px;
  }
  h4 {
    font-size: 20px;
    margin-top: 50px;
    font-weight: 100;
    letter-spacing: 0px;
  }
  
/* A B O U T   M E  S T Y L I N G */
.about {
  height: 800px;
}
.about-me-container {
  width: 90vw;
  display: block;
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 5%;

}

.blurb {
  width: 90%;
} 

.luke-photo {
  max-height: 40vh; 
  margin-bottom: 20px;
}

h3 {
  font-size: 30px;
  font-weight: 200;
  margin: 0px;
}
.bio {
  margin-top: 20px;
  font-weight: 100;
  color: rgb(0, 0, 0);
  font-size: 12px;
  line-height: 1;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
  /* P O R T F O L I O   S T Y L I N G */
.portfolio {

}
/* flex layout */

h5 {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  font-size: 30px;
  padding: 20px;
}
.project-preview-img{
  height: 200px;
}

.portfolio-container {
  margin-top: 50px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project-container {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  width: 90%;
  margin-bottom: 10vh; /* (100-32*3)/2 */
  position: relative;
  border-top: rgb(254, 233, 114) solid;
  border-width: 10px;

}
.portfolio-link {
  background-color: rgb(254, 233, 114);
  border: none;
  font-size: 15px;
  font-weight: 100;
  margin: 20px;
  border-radius: 15px;
  padding: 10px;
  cursor: pointer;
}
}

